@model IEnumerable<ReviewsSite.Models.Reviews>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Style/StyleSheet.css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>Reviews</title>
</head>
<body>
    <h1>Reviews List</h1>
    @foreach (var review in Model)
    {
        <p>Name: <a href="/Reviews/Details/@review.Id">@review.Content</a></p>

    }
    <a href="/Restaurant/Index">Return to Restaurants List</a>
    
</body>
</html>
 