@model ReviewsSite.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Restaurant Details</h1>
    <p>Name: <span>@Model.Name</span></p>
    <p>Category: <span>@Model.Category</span></p>
    <p>Description: <span>@Model.Description</span></p>
    @foreach (var review in Model.Reviews)
    {
        <div>Review: @review.Content</div>
        <hr />
    }
    


    <hr />
    <a href="/Restaurant/Index">Return to Restaurants List</a>


</body>
</html>
