@model ReviewsSite.Models.Restaurant
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Restaurant Details</h1>
    <p>title: <span>@Model.Name</span></p>
    <p>Descritption: <span>@Model.Description</span></p>
    <hr/>
    <a href="/Course/Index">Return to Courses List</a> 


</body>
</html>
