@model IEnumerable<ReviewsSite.Models.Restaurant>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Style/StyleSheet.css" />
    <link href="~/Style/StyleSheet.css" rel="stylesheet" />
    <title>RestaurantIndex</title>
</head>
<body>

    <h1>We Can Eat It!</h1>
    <article>The best place to come together to read and review Cleveland eateries! Come decide whats for dinner!</article>

    <main class="main container">

    </main>

    @foreach (var restaurant in Model)
    {
        <p><a href="/Restaurant/Details/@restaurant.Id">@restaurant.Name</a> </p>
    }
    <a href="/Review/Create">Create New Review</a>
</body>
</html>
