body {
    margin: auto;
    text-align: center;
    opacity: 10;
    border: solid white;
    background-image: url(/NewImages/artem-beliaikin-Nmrsa7XdDsc-unsplash.jpg);
    background-size: cover;
}
a{
    color:green;
}
a:hover,a:active{
    background-color:orange;
}
