body {
    margin: auto;
    text-align: center;
    opacity: 10;
    background-image: url(/Images/artem-beliaikin-Nmrsa7XdDsc-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-size: 26px; 
    
}
a{
    color:green;
}
a:hover,a:active{
    background-color:orange;
}
h1,
h2,
div,
p
 {
    background-color: #808080;
    opacity: 80%;
    border-radius: 0.25rem;
    color: white;
    margin: 2em auto;
    max-width: 800px;
    padding: .5em;
}
a{
    text-decoration: none;
    color: white

}
nav > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
}
nav > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
article {
    background-color: #808080;
    opacity: 80%;
    border-radius: 0.25rem;
    color: white;
    margin: 2em auto;
    max-width: 800px;
    padding: .5em;
    font-size: 24px;
    
}

.Delete-Form {
    text-align:center;
}


